RIMArtefacts/Charity/CHAR/2014-2015/2.0/r68-v2-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 413566
Wed Oct 15 10:45:24 BST 2014

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:r68="http://www.govtalk.gov.uk/taxation/charities/r68/2" targetNamespace="http://www.govtalk.gov.uk/taxation/charities/r68/2" version="2.0" id="r68" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms="http://www.govtalk.gov.uk/CM/gms-xs">
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>CoreFiling Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2012-01-24</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2014-10-15</gms:Modified>
        </gms:Date>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>IRenvelope</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>IRheader</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>R68</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_ContactDetailsStructure</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_DateType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_EmailType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_IRheaderStringType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_IRmonetaryType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_ISOcurrencyType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_NameStructure</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_PostCodeType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_TelephoneNumberType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_TelephoneStructure</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_WorkHomeType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_YesNoType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>r68_YesType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2012-2014</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>R68(i)</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="IRenvelope">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="r68:IRheader"/>
        <xsd:element ref="r68:R68"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IRheader">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="Keys">
          <xsd:annotation>
            <xsd:documentation>This element contains identifiers for the sender of the message. Each identifier is contained within a &lt;Key&gt; element. Each &lt;Key&gt; element also contains a 'Type' attribute which describes the identifier type (e.g. &lt;Key Type='AGENTCHARID'&gt;, &lt;Key Type='TaxOfficeNumber'&gt;, &lt;Key Type='TaxOfficeReference'&gt;).</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="Key">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="r68:r68_IRheaderStringType">
                      <xsd:attribute use="optional" name="Type" type="r68:r68_IRheaderStringType"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="PeriodEnd" type="r68:r68_DateType"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Principal">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Contact" type="r68:r68_ContactDetailsStructure"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Agent">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="AgentID">
                <xsd:annotation>
                  <xsd:documentation>This identifier is for the agent's own reference and is not the same as any agent's credentials that might be used to identify the agent to the Government Gateway.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="r68:r68_IRheaderStringType">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Company">
                <xsd:simpleType>
                  <xsd:restriction base="r68:r68_IRheaderStringType">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Address">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="4" name="Line">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="35"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="PostCode">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="8"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Country">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="35"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Contact" type="r68:r68_ContactDetailsStructure"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="DefaultCurrency">
          <xsd:simpleType>
            <xsd:restriction base="r68:r68_ISOcurrencyType">
              <xsd:enumeration value="GBP">
                <xsd:annotation>
                  <xsd:documentation>GBP</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Manifest">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Contains">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="Reference">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="1" maxOccurs="1" name="Namespace" type="xsd:anyURI"/>
                          <xsd:element minOccurs="1" maxOccurs="1" name="SchemaVersion">
                            <xsd:simpleType>
                              <xsd:restriction base="r68:r68_IRheaderStringType">
                                <xsd:maxLength value="13"/>
                                <xsd:pattern value="[0-9]{4}\-v[0-9]{1,3}\.[0-9]{1,3}(\.[0-9]{1,3})?"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element minOccurs="1" maxOccurs="1" name="TopElementName" type="xsd:NCName"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="IRmark">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute use="required" name="Type">
                  <xsd:simpleType>
                    <xsd:restriction base="r68:r68_IRheaderStringType">
                      <xsd:enumeration value="SAonly">
                        <xsd:annotation>
                          <xsd:documentation>SAonly</xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="generic">
                        <xsd:annotation>
                          <xsd:documentation>generic</xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="Sender">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Individual">
                <xsd:annotation>
                  <xsd:documentation>Individual</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Company">
                <xsd:annotation>
                  <xsd:documentation>Company</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Agent">
                <xsd:annotation>
                  <xsd:documentation>Agent</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Bureau">
                <xsd:annotation>
                  <xsd:documentation>Bureau</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Partnership">
                <xsd:annotation>
                  <xsd:documentation>Partnership</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Trust">
                <xsd:annotation>
                  <xsd:documentation>Trust</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Employer">
                <xsd:annotation>
                  <xsd:documentation>Employer</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Government">
                <xsd:annotation>
                  <xsd:documentation>Government</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Acting in Capacity">
                <xsd:annotation>
                  <xsd:documentation>Acting in Capacity</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Other">
                <xsd:annotation>
                  <xsd:documentation>Other</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="R68">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="WelshSubmission" type="r68:r68_YesType"/>
        <xsd:choice minOccurs="1" maxOccurs="1">
          <xsd:element minOccurs="1" maxOccurs="1" name="CollAgent">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="AgentNo">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:pattern value="[0-9]{14}"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="1" maxOccurs="1" name="ClaimNo">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="20"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="AuthOfficial">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="OffName" type="r68:r68_NameStructure"/>
                <xsd:element minOccurs="0" maxOccurs="1" name="Trustee">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="1"/>
                      <xsd:maxLength value="160"/>
                      <xsd:pattern value="[a-zA-Z0-9].*"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="1" name="ClaimNo">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="20"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="1" maxOccurs="1" name="OffID">
                  <xsd:complexType>
                    <xsd:choice minOccurs="1" maxOccurs="1">
                      <xsd:element minOccurs="1" maxOccurs="1" name="Postcode" type="r68:r68_PostCodeType"/>
                      <xsd:element minOccurs="1" maxOccurs="1" name="Overseas" type="r68:r68_YesType"/>
                    </xsd:choice>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="1" maxOccurs="1" name="Phone">
                  <xsd:simpleType>
                    <xsd:restriction base="r68:r68_TelephoneNumberType">
                      <xsd:maxLength value="30"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="AgtOrNom">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="AoNName" type="r68:r68_NameStructure"/>
                <xsd:element minOccurs="0" maxOccurs="1" name="OrgName">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="1"/>
                      <xsd:maxLength value="160"/>
                      <xsd:pattern value="[a-zA-Z0-9].*"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="1" maxOccurs="1" name="RefNo">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="14"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="1" name="ClaimNo">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="20"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="1" name="PayToAoN" type="r68:r68_YesType"/>
                <xsd:element minOccurs="1" maxOccurs="1" name="AoNID">
                  <xsd:complexType>
                    <xsd:choice minOccurs="1" maxOccurs="1">
                      <xsd:element minOccurs="1" maxOccurs="1" name="Postcode" type="r68:r68_PostCodeType"/>
                      <xsd:element minOccurs="1" maxOccurs="1" name="Overseas" type="r68:r68_YesType"/>
                    </xsd:choice>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="1" maxOccurs="1" name="Phone">
                  <xsd:simpleType>
                    <xsd:restriction base="r68:r68_TelephoneNumberType">
                      <xsd:maxLength value="30"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
        <xsd:element minOccurs="1" maxOccurs="1" name="Declaration" type="r68:r68_YesType"/>
        <xsd:choice minOccurs="1" maxOccurs="1">
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Claim">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="OrgName">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="1"/>
                      <xsd:maxLength value="160"/>
                      <xsd:pattern value="[a-zA-Z0-9].*"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="1" maxOccurs="1" name="HMRCref">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:pattern value="[A-Z]{1,2}[0-9]{1,5}"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="1" name="Regulator">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:choice minOccurs="1" maxOccurs="1">
                        <xsd:element minOccurs="1" maxOccurs="1" name="RegName">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="CCEW">
                                <xsd:annotation>
                                  <xsd:documentation>Charity Commission for England and Wales</xsd:documentation>
                                </xsd:annotation>
                              </xsd:enumeration>
                              <xsd:enumeration value="CCNI">
                                <xsd:annotation>
                                  <xsd:documentation>Charity Commission for Northern Ireland</xsd:documentation>
                                </xsd:annotation>
                              </xsd:enumeration>
                              <xsd:enumeration value="OSCR">
                                <xsd:annotation>
                                  <xsd:documentation>Office of the Scottish Charity Regulator</xsd:documentation>
                                </xsd:annotation>
                              </xsd:enumeration>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="1" maxOccurs="1" name="NoReg" type="r68:r68_YesType"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="OtherReg">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:minLength value="1"/>
                              <xsd:maxLength value="160"/>
                              <xsd:pattern value="[a-zA-Z0-9].*"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:choice>
                      <xsd:element minOccurs="0" maxOccurs="1" name="RegNo">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="20"/>
                            <xsd:pattern value="[a-zA-Z0-9].*"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="1" name="Repayment">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="GAD">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:choice minOccurs="1" maxOccurs="1">
                              <xsd:element minOccurs="1" maxOccurs="1" name="Donor">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element minOccurs="0" maxOccurs="1" name="Ttl">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:minLength value="1"/>
                                          <xsd:maxLength value="4"/>
                                          <xsd:pattern value="[A-Za-z][A-Za-z&apos;\-]*"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" maxOccurs="1" name="Fore">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:minLength value="1"/>
                                          <xsd:maxLength value="35"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" maxOccurs="1" name="Sur">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:minLength value="1"/>
                                          <xsd:maxLength value="35"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" maxOccurs="1" name="House">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:minLength value="1"/>
                                          <xsd:maxLength value="40"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:choice minOccurs="1" maxOccurs="1">
                                      <xsd:element minOccurs="1" maxOccurs="1" name="Postcode" type="r68:r68_PostCodeType"/>
                                      <xsd:element minOccurs="1" maxOccurs="1" name="Overseas" type="r68:r68_YesType"/>
                                    </xsd:choice>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element minOccurs="1" maxOccurs="1" name="AggDonation">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="35"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:choice>
                            <xsd:element minOccurs="0" maxOccurs="1" name="Sponsored" type="r68:r68_YesType"/>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Date" type="r68:r68_DateType"/>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Total">
                              <xsd:simpleType>
                                <xsd:restriction base="r68:r68_IRmonetaryType">
                                  <xsd:minInclusive value="0.01"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="EarliestGAdate" type="r68:r68_DateType"/>
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OtherInc">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Payer">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="40"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="OIDate" type="r68:r68_DateType"/>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Gross">
                              <xsd:simpleType>
                                <xsd:restriction base="r68:r68_IRmonetaryType">
                                  <xsd:minInclusive value="0.01"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Tax">
                              <xsd:simpleType>
                                <xsd:restriction base="r68:r68_IRmonetaryType">
                                  <xsd:minInclusive value="0.01"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="Adjustment">
                        <xsd:simpleType>
                          <xsd:restriction base="r68:r68_IRmonetaryType">
                            <xsd:minInclusive value="0.01"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="1" name="GASDS">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="1" maxOccurs="1" name="ConnectedCharities" type="r68:r68_YesNoType"/>
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Charity">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Name">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="160"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="HMRCref">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:pattern value="[A-Z]{1,2}[0-9]{1,5}"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="3" name="GASDSClaim">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Year">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:integer">
                                  <xsd:minInclusive value="2014"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Amount">
                              <xsd:simpleType>
                                <xsd:restriction base="r68:r68_IRmonetaryType">
                                  <xsd:minInclusive value="0.01"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="1" maxOccurs="1" name="CommBldgs" type="r68:r68_YesNoType"/>
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Building">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="1" maxOccurs="1" name="BldgName">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="160"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Address">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="40"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Postcode" type="r68:r68_PostCodeType"/>
                            <xsd:element minOccurs="1" maxOccurs="3" name="BldgClaim">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element minOccurs="1" maxOccurs="1" name="Year">
                                    <xsd:simpleType>
                                      <xsd:restriction base="xsd:integer">
                                        <xsd:minInclusive value="2014"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                  <xsd:element minOccurs="1" maxOccurs="1" name="Amount">
                                    <xsd:simpleType>
                                      <xsd:restriction base="r68:r68_IRmonetaryType">
                                        <xsd:minInclusive value="0.01"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="Adj">
                        <xsd:simpleType>
                          <xsd:restriction base="r68:r68_IRmonetaryType">
                            <xsd:minInclusive value="0.01"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="1" name="OtherInfo">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="1"/>
                      <xsd:maxLength value="350"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="CompressedPart">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="r68:_intermediate_CompressedPart">
                  <xsd:attribute use="optional" default="gzip" name="Type">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="zip">
                          <xsd:annotation>
                            <xsd:documentation>zip encoding</xsd:documentation>
                          </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="gzip">
                          <xsd:annotation>
                            <xsd:documentation>gzip encoding</xsd:documentation>
                          </xsd:annotation>
                        </xsd:enumeration>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="r68_ContactDetailsStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="r68:r68_NameStructure"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Email">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="r68:r68_EmailType">
              <xsd:attribute use="optional" name="Type" type="r68:r68_WorkHomeType"/>
              <xsd:attribute use="optional" name="Preferred" type="r68:r68_YesNoType"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Telephone" type="r68:r68_TelephoneStructure"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Fax" type="r68:r68_TelephoneStructure"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="r68_DateType">
    <xsd:annotation>
      <xsd:documentation>The date is in the Common Era (minus sign in years is not permitted)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
      <xsd:pattern value="\d{4}-\d{2}-\d{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="r68_EmailType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="3"/>
      <xsd:maxLength value="254"/>
      <xsd:pattern value="[^@&apos;&lt;&gt;&quot;]+@[^@&apos;&lt;&gt;&quot;]+"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="r68_IRheaderStringType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z0-9 &amp;&apos;\(\)\*,\-\./]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="r68_IRmonetaryType">
    <xsd:restriction base="xsd:decimal">
      <xsd:pattern value="-?(([1-9][0-9]*)|0)\.[0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="r68_ISOcurrencyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EUR">
        <xsd:annotation>
          <xsd:documentation>Euro</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GBP">
        <xsd:annotation>
          <xsd:documentation>Sterling</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="r68_NameStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Ttl">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
            <xsd:pattern value="[A-Za-z][A-Za-z&apos;\-]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="2" name="Fore">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
            <xsd:pattern value="[A-Za-z][A-Za-z&apos;\-]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="Sur">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
            <xsd:pattern value="[A-Za-z0-9 ,\.\(\)/&amp;\-&apos;]+"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="r68_PostCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="8"/>
      <xsd:pattern value="(GIR 0AA)|((([A-Z][0-9][0-9]?)|(([A-Z][A-HJ-Y][0-9][0-9]?)|(([A-Z][0-9][A-Z])|([A-Z][A-HJ-Y][0-9]?[A-Z])))) [0-9][A-Z]{2})"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="r68_TelephoneNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="35"/>
      <xsd:pattern value="[0-9\(\)\-\s]{1,35}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="r68_TelephoneStructure">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="Number" type="r68:r68_TelephoneNumberType"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="Extension">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
            <xsd:pattern value="[0-9]{1,6}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute use="optional" name="Type" type="r68:r68_WorkHomeType"/>
    <xsd:attribute use="optional" name="Mobile" type="r68:r68_YesNoType"/>
    <xsd:attribute use="optional" name="Preferred" type="r68:r68_YesNoType"/>
  </xsd:complexType>
  <xsd:simpleType name="r68_WorkHomeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="home"/>
      <xsd:enumeration value="work"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="r68_YesNoType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="r68_YesType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--
  **************************************************************
                    Auto-Generated Types
  **************************************************************

  Declaration of automatically generated named simpleTypes.
  These are necessary when XSDL does not allow inline
  declaration of simpleTypes under certain conditions.

  -->
  <xsd:simpleType name="_intermediate_CompressedPart">
    <xsd:restriction base="xsd:base64Binary">
      <xsd:minLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
